*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    line-height: 50px;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin-left: 30px;
   position: relative;
}

ul li::before{
    content: ' ';
    position: absolute;
    top: 10%;
    width: 0;
    background-color: #00a2ff;
    z-index:  9999;
    height: 3px;
    transition: 0.8s all;
}
ul li:hover::before{
    width: 100%;
}

ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.8s all;
}

ul li a:hover{
    color:#00a2ff;
}

.logo{
    background-color: #00a2ff;
    padding: 0 20px;
}

.logo{

}